.container {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;

    form {
        margin: 50px 0;

        .input {
            margin-bottom: 10px;
        }
    }

    .users {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .user {
            margin: 20px 0;
            padding: 20px;
            border: 3px solid black;
            width: 300px;
        }
    }

}